<div *ngIf="recipe">
  <div
    class="container bg-img column border-radius"
    [ngStyle]="{ 'background-image': 'url(' + recipe.image + ')' }"
  >
    <a class="grow" [routerLink]="['/recipe/' + recipe._id]"></a>
    <div class="row align-center space-between padding-05 fade">
      <h2 class="pointer grow" [routerLink]="['/recipe/' + recipe._id]">
        {{ recipe.title }}
      </h2>
      <div class="row gap-1 full-center">
        <app-add-to-list [recipe]="recipe" />
        <app-add-to-planning [recipe]="recipe" />
      </div>
    </div>
  </div>
</div>
