<button class="icon" (click)="showDialog()">
  <img src="./assets/icons/add to planning.svg" />
</button>

<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
>
  <div class="padding-1 column gap-05">
    <h3>Select ingredients to add to the grocery list :</h3>
    <!-- <div *ngIf="planning">
        <div *ngFor="let day of planning.days; let i = index; trackBy: trackByFn">
          <div>
            <app-day [name]="day.name || 'day ' + (i + 1)"/>
          </div>
      
          <div *ngFor="let meal of day.meals; let j = index; trackBy: trackByFn">
            {{ meal.recipeTitle }}
          </div>
        </div>
        <button class="text" (click)="updatePlanning()">validate</button>
      </div> -->
  </div>
</p-dialog>
