<button class="icon" (click)="showDialog()">
  <img src="./assets/icons/add to list.svg" />
</button>

<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
>
  <div class="padding-1 column gap-05">
    <h3>Select ingredients to add to the grocery list :</h3>
    <app-ingredient
      *ngFor="let ingredient of ingredients; let i = index"
      [index]="i"
      [ingredient]="ingredient"
      [ViewOnly]="true"
      [grayedIfChecked]="false"
      (ingredientChange)="handleCheck(i, $event)"
    />
  </div>
  <button class="text" (click)="closeDialog()">Cancel</button>
  <button class="text" (click)="addToList()">Validate</button>
</p-dialog>
