<div class="container" *ngIf="recipe">
  <div
    class="bg-img"
    [ngStyle]="{ 'background-image': 'url(' + recipe.image + ')' }"
  ></div>
  <div class="padding-1">
    <div class="row align-center space-between mb-1">
      <h2>{{ recipe.title }}</h2>
      <div class="arvo">{{ recipe.time }} min.</div>
    </div>
    <div class="mb-1">CATEGORY</div>
    <div class="row space-around mb-1">
      <app-add-to-list
        [ingredients]="recipeData.ingredients!"
        [size]="canEdit ? 'small' : 'large'"
      />

      <app-add-to-planning
        [recipe]="recipeData"
        [size]="canEdit ? 'small' : 'large'"
      />

      <button
        *ngIf="canEdit"
        class="icon"
        [routerLink]="['/recipe/edit/' + recipe._id]"
      >
        <img src="./assets/icons/edit.svg" alt="" />
      </button>

      <button *ngIf="canEdit" class="icon full-center" (click)="deleteRecipe()">
        <img src="./assets/icons/trash.svg" alt="trash icon" class="smaller" />
      </button>
    </div>
    <section class="padding-05 border-radius bg-color-mid mb-1">
      <h2 class="mb-05">Ingredients</h2>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.toString() }}
        </li>
      </ul>
    </section>

    <section class="padding-05 border-radius bg-color-mid mb-1">
      <h2 class="mb-05">Instructions</h2>
      <div *ngIf="recipe.content.length > 1">
        <ol>
          <li *ngFor="let instruction of recipe.content" class="mb-05">
            <span>{{ instruction }}</span>
          </li>
        </ol>
      </div>
      <div *ngIf="recipe.content.length == 1">
        {{ recipe.content }}
      </div>
    </section>

    <section class="padding-05 border-radius bg-color-mid mb-1">
      <h2 class="mb-05">Notes</h2>
      todo
    </section>

    <section class="padding-05 border-radius bg-color-mid mb-1">
      <h2 class="mb-05">Comments</h2>
      todo
    </section>
  </div>
</div>
