<div class="container">
  <div
  class="bg-img"
  [ngStyle]="{ 'background-image': 'url(' + recipe.image + ')' }"
></div>
<div class="padding-1">
  <div class="row align-center space-between mb-1">
    <h2>{{ recipe.title }}</h2>
    <div class="arvo">{{ recipe.time }} min.</div>
  </div>
  <div class="mb-1">CATEGORY</div>
  <div class="row space-between mb-1">
    <app-add-to-list />
    <app-add-to-planning />
    <button class="icon" [routerLink]="['/recipe/edit/' + recipe._id]">
      <img src="./assets/icons/edit.svg" alt="" />
    </button>
  </div>
  <section class="padding-05 border-radius bg-color-mid mb-1">
    <h2 class="mb-05">Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.toString() }}
      </li>
    </ul>
  </section>

  <section class="padding-05 border-radius bg-color-mid mb-1">
    <h2 class="mb-05">Instructions</h2>
    <ol>
      <li *ngFor="let instruction of recipe.content">
        {{ instruction }}
      </li>
    </ol>
  </section>

  <section class="padding-05 border-radius bg-color-mid mb-1">
    <h2 class="mb-05">Notes</h2>
    todo
  </section>

  <section class="padding-05 border-radius bg-color-mid mb-1">
    <h2 class="mb-05">Comments</h2>
    todo
  </section>
</div>

</div>
