<div *ngIf="isActive" class="row gap-05 align-center">
  <input
    type="text"
    [(ngModel)]="ingredient.quantity"
    size="2"
    (ngModelChange)="onIngredientChange()"
  />

  <select [(ngModel)]="ingredient.unit" (ngModelChange)="onIngredientChange()">
    <option *ngFor="let unit of units" [value]="unit">{{ unit }}</option>
  </select>

  <input
    type="text"
    [(ngModel)]="ingredient.name"
    class="grow"
    size="1"
    (ngModelChange)="onIngredientChange()"
  />
  <button class="mini no-bg" (click)="deleteIngredient()">
    <img src="./assets/icons/trash.svg" alt="trash icon" />
  </button>
</div>

<div *ngIf="!isActive">
  <p>
    {{ ingredient.toString() }}
  </p>
</div>
