<header class="row wrapper padding-05">
  <a [routerLink]="['/']" class="home-btn row gap-05">
    <img class="home icon" src="./assets/icons/logo.svg" />
    <div class="name">The Ultimate Cookbook</div>
  </a>
  <div class ="grow"></div>
  <nav class="row gap-05">
    <a [routerLink]="['/user']"><img src="./assets/icons/user.svg" alt="user profile" /></a>
    <a [routerLink]="['/list']"
      ><img src="./assets/icons/list.svg" alt="link to grocery list"
    /></a>
    <a [routerLink]="['/planning']"
      ><img src="./assets/icons/planing.svg" alt="link to planing page"
    /></a>
  </nav>
</header>
