<div
  class="bg-img"
  [ngStyle]="{ 'background-image': 'url(' + recipe.image + ')' }"
>
  <input type="file" name="image" (change)="onFileSelected($event)" />
</div>
<div class="column gap-05 padding-1">
  <div class="row gap-05 align-center">
    <input
      id="title"
      type="text"
      [(ngModel)]="recipe.title"
      class="title grow"
      size="2"
    />
    <input id="time" type="text" [(ngModel)]="recipe.time" size="2" />
    min.
  </div>
  <div class="mb-1">CATEGORY</div>
  <div class="row align-center space-between">
    <h2>Ingredients</h2>
    <button (click)="addIngredient()" class="mini">+</button>
  </div>

  <div class="column gap-05 mb-1">
    <app-ingredient
      *ngFor="
        let ingredient of recipe.ingredients;
        let i = index;
        trackBy: trackByFn
      "
      [ingredient]="ingredient"
      [isActive]="true"
      (ingredientChange)="handleIngredientChange(i, $event)"
      (delete)="deleteIngredient(i)"
    />
  </div>

  <div class="row align-center space-between">
    <h2>Recipe</h2>
    <button (click)="addStep()" class="mini">+</button>
  </div>
  <div *ngIf="recipe.content.length > 1" class="column gap-05">
    <div
      *ngFor="let step of recipe.content; let i = index; trackBy: trackByFn"
      class="column"
    >
      <div class="space-between row align-center">
        <p>{{ "STEP " + (i + 1) }}</p>
        <button class="mini no-bg" (click)="deleteStep(i)">
          <img src="./assets/icons/trash.svg" alt="trash icon" />
        </button>
      </div>

      <textarea
        [(ngModel)]="recipe.content[i]"
        [ngModelOptions]="{ standalone: true }"
        rows="5"
        >{{ recipe.content[i] }}</textarea
      >
    </div>
  </div>

  <div *ngIf="recipe.content.length < 2">
    <div
      *ngFor="let step of recipe.content; let i = index; trackBy: trackByFn"
      class="column"
    >
      <textarea
        [(ngModel)]="recipe.content[i]"
        [ngModelOptions]="{ standalone: true }"
        rows="5"
        >{{ recipe.content[i] }}</textarea
      >
    </div>
  </div>

  <button class="text" (click)="save()">save</button>
</div>
