<form (submit)="register($event)" class="column gap-2 full-center h100">
  <div class="column gap-05 full-center mb-2">
    <h1>Register</h1>
    <p>Already have an account ? go to <a routerLink="/login">login</a></p>
  </div>
  <div class="column gap-05">
    <input type="text" name="name" placeholder="Name" [(ngModel)]="name" />
    <input type="email" name="email" placeholder="Email" [(ngModel)]="email" />

    <input
      type="password"
      name="password"
      placeholder="Password"
      [(ngModel)]="password"
    />
  </div>

  <button>Register</button>
</form>
