<div class="padding-1">
  <div class="row mb-1 space-between">
    <h1>Grocery List</h1>
    <button class="icon full-center" (click)="deleteList()">
      <img src="./assets/icons/trash.svg" alt="trash icon" class="smaller" />
    </button>
  </div>

  <div *ngIf="groceryList" class="column gap-1 mb-1">
    <app-ingredient
      *ngFor="
        let ingredient of groceryList.ingredients;
        let i = index;
        trackBy: trackByFn
      "
      [ingredient]="ingredient"
      [index]="i"
      [editMode]="false"
      (emitIngredient)="updateIngredient(i, $event)"
      (delete)="deleteIngredient(i)"
    />

    <app-ingredient
      *ngIf="visibility"
      [ingredient]="newItem"
      [editMode]="true"
      (emitIngredient)="addItem($event)"
      (delete)="hideNewIngredient()"
    />
  </div>
  <div class="full-center">
    <button class="text" (click)="displayNewIngredient()">add item</button>
  </div>
</div>
