<h1>planning</h1>

<div *ngIf="planning" class="column gap-1 mb-1 ">
  <div *ngFor="let day of planning.days; let i = index; trackBy: trackByFn" class="padding-05">
    <div class="mb-05">
      <app-day
        [name]="day.name || 'day ' + (i + 1)"
        (emitName)="saveName($event, i)"
        (delete)="removeDay(i)"
      />
    </div>

    <div
      *ngFor="let meal of day.meals; let j = index; trackBy: trackByFn"
      class="row bg-color-mid align-center m-side-1 padding-left mb-05 space-between"
    >
      <p class="grow">{{ meal.recipeTitle }}</p>
      <button class="mini no-bg full-center" (click)="removeRecipe(i, j)">
        x
      </button>
    </div>
    <div *ngIf="day.meals?.length == 0">
      <p class="color-text2 small-text">
        select a recipe to add to your planning
      </p>
    </div>
  </div>
  <button class="text" (click)="addDay()">add day</button>
</div>
