<div class="padding-05 row gap-1">
  <h1 class="grow">planning</h1>

  <app-add-to-list />
  <button class="icon full-center" (click)="deletePlanning()">
    <img src="./assets/icons/trash.svg" alt="trash icon" class="smaller" />
  </button>
</div>
<div *ngIf="planning" class="column gap-1 mb-1">
  <div
    *ngFor="let day of planning.days; let i = index; trackBy: trackByFn"
    class="padding-05"
  >
    <div class="mb-05">
      <app-day
        [name]="day.name || 'day ' + (i + 1)"
        (emitName)="saveName($event, i)"
        (delete)="removeDay(i)"
      />
    </div>

    <div
      *ngFor="let recipe of day.recipes; let j = index; trackBy: trackByFn"
      class="row bg-color-mid align-center m-side-1 padding-left mb-05 space-between"
    >
      <button class="grow no-bg" [routerLink]="['/recipe/' + recipe._id]">
        {{ recipe.title }}
      </button>
      <button class="mini no-bg full-center" (click)="removeRecipe(i, j)">
        x
      </button>
    </div>
    <div *ngIf="day.recipes?.length == 0">
      <p class="color-text2 small-text">
        select a recipe to add to your planning
      </p>
    </div>
  </div>
  <button class="text no-bg" (click)="addDay()">add day</button>
</div>
